header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: lightblue;
    font-size: 20px;
}
/* nav bar */
header li {
    display: inline-block;
    font-size: 40px;
}

/* Home page */
.home {
    background-image: url('./source/barbershop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:700px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:azure;
}
.home h2 {
    font-size: 35px;
}
.home p {
    font-size: 15px;
}
.content {
    text-align: center;
}
.image-front {
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-card {
    height: 400px;
    width: ;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: row; */
    
}
.card1 {
    /* height: 150px;
    width:150px; */
    background-color: black;

}
.card1 img {
    height: 150px;
    width:150px;
    
}
.card2 {
    /* height: 150px;
    width:150px; */
    background-color: red;

}
.card2 img { 
    height: 150px;
    width:150px;
    
}
.card3 {
    height: 150px;
    width:150px;
    background-color: yellow;
}

/* css for all three buttons */
button {
    background-color:black;
    font-size: 12px;
    height: 40px;
    width: 300px;
    color: white;
    border-radius: 20%;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    box-sizing: border-box;
    text-align: center;
    gap: 10px;
}